.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-input {
  width: 200px;
}

.search-icon {
  width: 20px;
  cursor: pointer;
}

.filter-icon {
  width: 20px;
  cursor: pointer;
  padding-left: 8px;
}
